@model PPCRental.Models.PROPERTY

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/LayoutBackend.cshtml";
}

<h2>Edit dự án @Model.PropertyName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <div class="panel panel-default container-fluid">
        <div class="col-md-6">
            <div class="panel panel-default">

                <div class="panel-heading">Thông tin</div>
                <div class=" panel-body">
                    <div class="form-group">
                        <div class="col-md-2">Tên dự án</div>

                        @Html.EditorFor(model => model.PropertyName)
                        @Html.ValidationMessageFor(model => model.PropertyName)

                    </div>
                    <div class="form-group">
                        <div class="col-md-2">Avatar</div>
                        <form action="create" method="post" enctype="multipart/form-data">
                            <p><img style="width:100px;height=100px;" src="~/Content/img/Home/@Model.Avatar" />
                            <input style="float:right" type="file" name="avatar" ></p>
                        </form>

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Images</div>
                        <form action="create" method="post" enctype="multipart/form-data">
                             <p><img style="width:100px;height=100px;" src="~/Content/img/Home/@Model.Images" />
                            <input style="float:right" type="file" name="images" value="@Model.Images"></p>
                        </form>

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Loại dự án</div>

                        @Html.DropDownList("PropertyType_ID", String.Empty)
                        @Html.ValidationMessageFor(model => model.PropertyType_ID)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Nội dung</div>

                        @Html.EditorFor(model => model.Content)
                        @Html.ValidationMessageFor(model => model.Content)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Đường</div>

                        @Html.DropDownList("Street_ID", String.Empty)
                        @Html.ValidationMessageFor(model => model.Street_ID)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Phường</div>

                        @Html.DropDownList("Ward_ID", String.Empty)
                        @Html.ValidationMessageFor(model => model.Ward_ID)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Quận</div>

                        @Html.DropDownList("District_ID", String.Empty)
                        @Html.ValidationMessageFor(model => model.District_ID)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Giá</div>

                        @Html.EditorFor(model => model.Price)
                        @Html.ValidationMessageFor(model => model.Price)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Tiền tệ</div>

                        @Html.EditorFor(model => model.UnitPrice)
                        @Html.ValidationMessageFor(model => model.UnitPrice)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Diện tích</div>

                        @Html.EditorFor(model => model.Area)
                        @Html.ValidationMessageFor(model => model.Area)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Phòng ngủ</div>

                        @Html.EditorFor(model => model.BedRoom)
                        @Html.ValidationMessageFor(model => model.BedRoom)

                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Phòng tắm</div>

                        @Html.EditorFor(model => model.BathRoom)
                        @Html.ValidationMessageFor(model => model.BathRoom)

                    </div>
                    <div class="form-group">
                        <div class="col-md-2">Trạng Thái</div>

                        @Html.DropDownList("Trạng Thái",ViewBag.Status_ID as SelectList, "Chọn trạng thái")
                        @Html.ValidationMessageFor(model => model.PROJECT_STATUS.Status_Name)

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Tiện ích</div>
                <div class="form-group">
                    <form>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="1">Ban Công
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="2">Chỗ đậu xe
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="3">Thang máy
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="4">Vườn
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="5">Phòng tập Gym
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="6">Nhà bếp
                        </label>
                    </form>
                    <form>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="7">Phòng giặt ủi
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="8">Cho nuôi thú cưng
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="9">Hồ bơi
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="10">Sàn gỗ
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="11" />Bảo vệ
                        </label>
                    </form>
                </div>
            </div>
        </div>


       
    </div>
}

<div>
    <a href="/sale/index"><input type="submit" value="Back" class="btn btn-toolbar" /></a>
</div>

